* {
    margin: 0;
    padding: 0;

    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 2rem;
    
}
#title-section {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);

    position: fixed;
    z-index: 2000;
    top: 0;
    background-color: white;
    width: 100%;

    border-radius: 0rem 0rem 1rem 1rem;

    height: 2.375rem;

    padding-top: 1.8125rem;
    padding-left: 2rem;
    padding-bottom: 1.8125rem;
}
.entry {
    padding: 1rem 2rem 1rem 2rem;
}

#current-balance-holder {

}
.entry {
    width: calc(100% - 4rem);
    height: 2.5rem;
}

span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-entry {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.section-heading {
    width: calc(100% - 4rem);
    padding: 1rem 2rem 1rem 2rem;
}

.symbolic {
    border: none;
    background: none;
    font-size: 2rem;
    color: inherit;
    min-width: 2.75rem;
    max-width: 2.75rem;
    height: 2.75rem;
    padding-left: 1rem;
}

button.labeled {
    color: black;
    box-sizing: unset;
    background-color: lightgrey;

    border: none;
}

input.textbox {
    color: black;
    background: rgb(204,204,204);
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 1px 1px 3px grey;
    border: none;
    border-radius: 0.25rem;
}

.labeled {
    width: 6rem;
    height: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 1px 1px 3px grey;
    border-radius: 0.25rem;
}

dialog {
    position: fixed;
    width: 80%;
    left:10%;
    top: calc(50% - 5.75rem);
    padding: 0.5rem 0 0.5rem 0;

    border-radius: 1rem;
}

.dialog-buttons {
    padding-right: 1rem;
    padding-left: 1rem;
}

#add-section-button {
    margin-left: 2rem;
    margin-top: 1.5rem;
}


dialog > div {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}

.toolbox > input.textbox {
    width: 50%;
    min-width: 5.5rem;
}

input.textbox {
    height: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.toolbox {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
    position: relative;
}

.toolbox > button {
    padding-left: 1rem;
}

dialog > span > input.textbox {
    width: calc(50% - 1rem);
}

#current-balance {
    font-size: 1.5rem;
}

#current-balance-section {
    width: 100%;
    position: fixed;
    z-index: 2000;
    bottom: 0;

    height: 3.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;

    background-color: white;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);

    border-radius: 1rem 1rem 0rem 0rem;
}

body {
    padding-top: 6rem;
    padding-bottom: 7rem;
}

input.radio-option {
    height: unset;
    width: unset;
    border: none;
    box-shadow: none;
    padding:none;
    margin: none;
    margin-left: 1rem;
}

span.radio > label {
    padding-left: 0.5rem;
}

.dialog-entry {
    height: 2rem;
}

.menu {
    position: absolute;
    z-index: 1000;
    top: -1.25rem;
    right: 2.25rem;
    border-radius: 0.25rem;
    width: calc(50% + 1rem);
    min-width: 6.5rem;
    color: black;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.section-heading {
    position: relative;
}

.section-menu {
    top: 1rem;
    width: calc(20% + 0.2rem);
    right: 4.75rem;
}

.menu > p {
    padding: 0.5rem;
    
    background-color: white;

    cursor: pointer;

    height: 1.5rem;
    background: rgb(204,204,204);
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);

    display: flex;
    align-items: center;

    font-weight: bold;

    width: calc(100% - 1rem);
}

.menu > p:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}

.menu > p:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
}